.form-control:focus {
  border-color: #28a745 !important;
}

.bg-custom-grey {
  background-color: #292c31 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  background-color: #167649 !important;
}

.cursor-pointer:active {
  background-color: #146941 !important;
}

.w-3 {
  width: 3% !important;
}

.w-25 {
  width: 25% !important;
}

.flex-grow {
  flex-grow: 1;
}

.w-85 {
  width: 85% !important;
}

.w-15 {
  width: 15% !important;
}

.icon:hover {
  color: lightgrey !important;
}

.icon {
  margin-top: 1em;
  color: white;
  cursor: pointer;
  width: min(2vw, 35px);
  height: min(2vw, 35px);
}

.settings-icon {
  color: #292c31;
  height: auto;
  cursor: pointer;
  width: min(1.5vw, 30px);
  height: min(1.5vw, 30px);
}

.settings-icon:hover {
  color: rgba(0, 48, 2, 0.749) !important;
}

.message-width {
  max-width: 45%;
  width: fit-content;
}

.message-container {
  word-wrap: break-word;
  border-radius: 1em;
}
