.form-control:focus {
  border-color: #28a745 !important;
}

.bg-custom-grey {
  background-color: #292c31 !important;
}

.w-3 {
  width: 3% !important;
}

.w-25 {
  width: 25% !important;
}

.w-72 {
  width: 72% !important;
}

.logout-icon:hover {
  color: lightgrey !important;
}

.logout-icon {
  cursor: pointer;
  width: min(2vw, 35px);
  height: min(2vw, 35px);
}