.w-300 {
    width: 300px !important;
}

.w-345 {
    width: 345px !important;
}

.custom-input {
    border-radius: 0 !important;
}

.custom-input:hover, .custom-input:focus {
    border-color: #28a745 !important;
}